*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.titulos_1{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.section_1,
.section_2{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ebe6ea;
}

.section_2{
    background-color: #ebe6ea;
}

.informacion_1,
.imagen_1,
.informacion_2,
.imagen_2{
    flex: 1;
    
}

.section_1 .informacion_1,
.section_2 .informacion_2{
    width: 100%;
    height: 100%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_1 .informacion_1 p,
.section_2 .informacion_2 p{
    padding: 20px;
    font-size: 1rem;
}

.section_1 .informacion_1 button,
.section_2 .informacion_2 button{
    padding: 5px 30px;
    border: 2px solid #c8ad8d;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transition: 2s ease;
    font-size: .8rem;
}

.section_1 .informacion_1 button:hover,
.section_2 .informacion_2 button:hover{
    background: linear-gradient(0deg, #c8ad8d 50%, transparent 100%);
    background-color: #c8ad8d;
    background-position: 0 100%;
}
.section_1 .imagen_1,
.section_2 .imagen_2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_1 .imagen_1 h3,
.section_2 .imagen_2 h3{
    padding: 20px 0;
    font-size: 1rem;
}

.section_1 .imagen_1 img,
.section_2 .imagen_2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.section_5 h3{
    text-align: center;
    font-size: 1rem;
}

.section_5 .barra_busqueda{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.section_5 .container_busqueda{
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section_5 .container_busqueda input{
    width: 300px;
    padding: 5px 0 ;
    padding-left: 30px;
    border-radius: 15px;
    border: 2px solid #c8ad8d;
    outline: none;
    font-size: 1rem;
}

.section_5  .container_busqueda svg{
    width: 20px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%);
}


.section_5 .desplegables{
    padding-bottom: 130px ;
}

.section_5 .desplegables .tipo{
    display: flex;
    justify-content: space-around;
    align-items: center;

} 


.section_5 .desplegables .tipo select{
    min-width: 50px;
    max-width: 300px;
    width: 100%;
    margin: 0 10px;
    font-size: 1rem;
    border: 2px solid #c8ad8d;
    border-radius: 10px;
}

.section_5 .desplegables option{
    font-size: 1rem;
}

@media (min-width: 768px){
    .titulos_1 h2{
        font-size: 2rem;
    }

    .titulos_1 h3{
        font-size: 1.5rem;
        padding-top: 10px;
    }

    
    .section_1 .informacion_1 p,
    .section_2 .informacion_2 p{
        font-size: 1.5rem;
    }
    
    .section_1 .informacion_1 button,
    .section_2 .informacion_2 button{
        font-size: 1.2rem;
    }
    
    .section_1 .imagen_1 h3,
    .section_2 .imagen_2 h3{
        font-size: 1.5rem;
    }
    .section_5 h3{
        font-size: 2rem;
    }

    .section_5 .container_busqueda{
        min-width:300px;
        max-width: 500px;
        width: 100%;
    }
    .section_5 .container_busqueda input{
        min-width: 300px;
        max-width: 500px;
        width: 100%;
        padding-left: 40px;
        font-size: 1.5rem;
    }
    
    .section_5  .container_busqueda svg{
        left: 5%;
    }
    
    .section_5 .desplegables .tipo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    .section_5 .desplegables .tipo select{
        padding: 5px 0px;
    }

    .section_5 .desplegables option{
        font-size: 1rem;
    }
}

@media (min-width: 992px){
.section_1,
.section_2{
    flex-direction: row;
}

.section_2 .informacion_2{
    order: 2;
}
}

@media (min-width: 1400px){

    .titulos_1 h2{
        font-size: 3rem;
    }

    .titulos_1 h3{
        font-size: 2rem;
        padding-top: 10px;
    } 
.section_1 .informacion_1 p,
.section_2 .informacion_2 p{
    padding: 20px;
    font-size: 2rem;
}

.section_1 .informacion_1 button,
    .section_2 .informacion_2 button{
        font-size: 1.5rem;
    }

    .section_5 h3{
        font-size: 2.5rem;
        padding: 50px 0;
    }

    .section_5 .container_busqueda input{
        font-size: 1.5rem;
    }

    .section_5 .desplegables .tipo select{
        font-size: 1.5rem;
        
    }

    .section_5 .desplegables .tipo option{
        font-size: 1.5rem;
        
    }
}