
*{
    font-family: 'lexend';
}

.modalBox{
    color: #273a2d;
    width: 360px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: none;
}

.modalBox .headerLogo{
    margin-top: 0;
    width: 20%;
}

.modalBox h2{
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 5px;
}



.modalBox .description{
    font-size: 1rem;
    margin-top: 10px;
}


.Container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 5px;
    text-align: center;
}

.modalBox .Container .subtitle{
    font-size: 1rem;
    font-weight: 900;
    margin: 10px;
    text-align: center;
}
.modalBox .Container .info{
    font-size: 0.75rem; 
}

.modalBox .containerBtn{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.modalBox .containerBtn button{
    font-size: 0.75rem; 
    border-radius: 50px;
    width: 140px;
    height: 40px;
}


.registroBtn{
    background-color: #c8ad8d;
    border: none;
}

.omitirBtn{
    background-color: #fff !important;
    border: 1px solid #c8ad8d;
}

@media (min-width: 800px) {
    .modalBox{
        font-size: 1.25rem;
        color: #273a2d;
        width: 800px;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        border: none;
    }
    
    .modalBox .headerLogo{
        margin-top: 0;
        width: 20%;
    }
    
    .modalBox h2{
        font-size: 2.5rem;
        line-height: 1;
        margin-bottom: 5px;
    }
    
    .modalBox .description{
        font-size: 1.125rem;
        margin-top: 10px;
    }

    .Container{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
        text-align: justify;
    }

    .modalBox .Container .subtitle{
        font-size: 1.25rem; 
        font-weight: 600;
        margin: 10px;
        text-align: center;
    }

    .modalBox .Container .info{
        font-size: 1rem;
    }
    
    .modalBox .containerBtn{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-top: 20px;
    }
    
    .modalBox .containerBtn button{
        font-size: 1rem;
        border-radius: 50px;
        width: 140px;
        height: 40px;
    }
    
    
    .registroBtn{
        background-color: #c8ad8d;
        border: none;
    }
    
    .omitirBtn{
        background-color: #fff !important;
        border: 1px solid #c8ad8d;
    }
}

@media (min-width: 1024px){
    .Container{
        gap: 0px;
        margin-top: 0px;
        text-align: justify;
    }

    .modalBox .Container .subtitle{
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0px;
        text-align: center;
    }
}