*{
    margin: 0;
}

.containerFooter{
    background-color: rgba(226, 226, 226, 0.8);
    backdrop-filter: blur(16px);


    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0rem 1rem;
    box-shadow: 0px 10px 10px rgb(201, 201, 201) inset;
}

.gap{    display: flex;
    width: 30%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.line{
    height: 50px;
    width: 2px;
    background-color: white;
}

.containerFooter .logo{
    width: 3rem;
    padding-top: 10px;
}

.containerFooter ul{
    display: flex;
    flex-direction: column;
}

.containerFooter ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerFooter ul li a{
    font-size: 0.6rem;
    color: black;
}

.containerFooter p{
    padding: 1vw;
    text-align: center;
    color: black;
    font-size: 0.5rem;
}

@media (min-width: 675px) {

    .containerFooter{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    

    .containerFooter ul{
        display: flex;
        flex-direction: column;
    }
}