*{
    margin: 0;
}

.containerFooter{
    background-color: gray;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    padding: 2vw;
}

.containerFooter .logo{
    width: 10vw;
    margin: 1vw;
}

.containerFooter ul{
    display: flex;
    flex-direction: column;
}

.containerFooter ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    height: 2.5vw;
    margin-left: 5vw;
}

.containerFooter ul li a{
    font-size: 0.6rem;
    color: white;
}

.containerFooter p{
    padding: 1vw;
    text-align: center;
    color: white;
    font-size: 0.5rem;
}

@media (min-width: 675px) {

    .containerFooter{
        margin: 0vw 2vw;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .containerFooter .logo{
        margin: 0;
        align-items: center;
        width: 3vw;
    }
    .containerFooter ul{
        display: flex;
        flex-direction: row;
    }

    .containerFooter ul li{
        margin: 0;
    }
}