*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lexend';
}

.section1{
    width: 98vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.section1 .banner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.section1 .banner .info{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(16px);
    z-index: -1;
}

.section1 .banner .info button{
    width: 70%;
    border-radius: 10px;
    padding: 2px;
}

.section1 .banner .img1{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.section1 .banner .img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container .cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(16px);
    border-radius: 20px;
    z-index: -1;
}

.container .cards button{
    width: 70%;
    border-radius: 10px;
    padding: 2px;
}

/* Busqueda */

.section2{
    width: 98vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.section2 .title2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(16px);
    border-radius: 20px;
}

.section2 .barrabusqueda{
    width: 100%;
    height: 100%;
    padding: 30px 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(16px);
    z-index: -1;
}

.section2 .barrabusqueda .contenedorbarrabusqueda{
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section2 .barrabusqueda .contenedorbarrabusqueda input{
    width: 300px;
    padding: 5px 0;
    padding-left: 30px;
    border-radius: 15px;
    border: 2px solid #c8ad8d;
    outline: none;
}

.section2 .barrabusqueda .contenedorbarrabusqueda svg{
    width: 20px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%);
}

.section2 .selectores{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    padding-bottom: 70px;
    margin-bottom: 20px;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(16px);
    border-radius: 10px;
}

.section2 .selectores select{
    min-width: 50px;
    max-width: 300px;
    width: 100%;
    margin: 0 10px;
    border: 2px solid #c8ad8d;
    border-radius: 10px;
}

.section2 .selectores option{
    font-size: 1rem;
}

.section_3{
    width: 98vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.section_3 .tarjetas_animales{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    border-radius: 20px 20px 0 0 ;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(16px);
    z-index: -1;

}

.section_3 .btn_ver{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 0 0 20px 20px;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(16px);
    z-index: -1;

}

.section_3 .btn_ver button{
    width: 70%;
    border-radius: 10px;
    padding: 2px;
}

@media (min-width: 768px){
    .section1, .section2, .section_3{
        padding: 0 80px;
    }

    .banner .info button, .container .cards button, .section_3 .btn_ver button{
        width: 40%;
    }

    .section_3 .tarjetas_animales{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 20px 0  20px;
    }
}

@media (min-width: 992px){
    .section1{
        height: 100vh;
    }

    .section1 .banner{
        flex-direction: row;
        overflow: hidden;
    }

    .section1 .info, 
    .section1 .img1{
        flex: 1;
    }

    .container{
        flex-direction: row;
        padding: 80px 0;
        margin-bottom: 0px;
    }
}




